@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using Newtonsoft.Json
@using ProjectPoker.Controllers
@using ProjectPoker.Models
@using ProjectPoker.ViewModels
@model ProjectPoker.Models.Poker

@{
    ViewBag.Title = "Pokerroom";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.ActivePlayer.Name</title>
    <link href="~/Content/poker.css" rel="stylesheet" />

</head>
<body id="body">
    <section id="endGame">
        <div class="container">
            <div class="row" id="upperRow">
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                @for (int i = 1; i < 4; i++)
            {
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        @if ((i - 1) < @Model.Host.Opponents.Count)
                        {
                            <p class="nameTag @(Model.Host.Opponents[i - 1].Folded ? "folded" : "") @(Model.Host.Opponents[i - 1].Winner ? "winner" : "")">@Model.Host.Opponents[i - 1].Name</p>
                            foreach (var card in Model.Host.Opponents[i - 1].PokerCards)
                            {
                                <img class="pokerCard @(Model.Host.Opponents[i - 1].Folded ? "folded" : "")" src="~/Content/Cards/@(((((int) card.Suit - 1)*13) + (int) card.FaceValue)).png" alt="Pokercard" />
                            }
                            <p class="nameTag @(Model.Host.Opponents[i - 1].Folded ? "folded" : "")">@String.Format("{0:C}", @Model.Host.Opponents[i - 1].Money)</p>
                            <p class="nameTag @(Model.Host.Opponents[i - 1].Folded ? "folded" : "prizeMoney")">@String.Format("+{0:C}", @Model.Host.Opponents[i - 1].PrizeMoney)</p>
                        }
                        else
                        {
                            <img class="chair" src="~/Content/Images/chairT.gif" alt="sofa" />
                        }
                    </div>
                }
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
            </div>
            <div class="row" id="middleRow">
                <div class="col-md-2 col-sm-2 col-xs-2 cardsMiddleRow">
                    @if (@Model.Host.Opponents.Count > 6)
                    {
                        <p class="nameTag @(Model.Host.Opponents[6].Folded ? "folded" : "") @(Model.Host.Opponents[6].Winner ? "winner" : "")">@Model.Host.Opponents[6].Name</p>
                        foreach (var card in Model.Host.Opponents[6].PokerCards)
                        {
                            <img class="pokerCard @(Model.Host.Opponents[6].Folded ? "folded" : "")  @(Model.Host.Opponents[6].Winner ? "winner" : "")" src="~/Content/Cards/@(((((int) card.Suit - 1)*13) + (int) card.FaceValue)).png" alt="Pokercard" />
                        }
                        <p class="nameTag @(Model.Host.Opponents[6].Folded ? "folded" : "")">@String.Format("{0:C}", @Model.Host.Opponents[6].Money)</p>
                        <p class="nameTag @(Model.Host.Opponents[6].Folded ? "folded" : "prizeMoney")">@String.Format("+{0:C}", @Model.Host.Opponents[6].PrizeMoney)</p>
                    }
                    else
                    {
                        <img class="chair" src="~/Content/Images/chairL.gif" alt="sofa" />
                    }

                </div>
                <div class="col-md-8 col-sm-8 col-xs-8" id="table">
                    <h2>Won by @Model.WinningHand.ToString()</h2>
                    @foreach (var card in @Model.Table.Pokercards)
                    {
                        if (card.FaceUp)
                        {
                            <img class="pokerCard" src="~/Content/Cards/@(((((int) card.Suit - 1)*13) + (int) card.FaceValue)).png" alt="Pokercard" />
                        }
                        else
                        {
                            <img class="pokerCard" src="~/Content/Cards/backside.png" />
                        }
                    }
                    <h2>Money: €@Model.Table.TableMoney</h2>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    @if (@Model.Host.Opponents.Count > 3)
                    {
                        <p class="nameTag @(Model.Host.Opponents[3].Folded ? "folded" : "") @(Model.Host.Opponents[3].Winner ? "winner" : "")">@Model.Host.Opponents[3].Name</p>
                        foreach (var card in Model.Host.Opponents[3].PokerCards)
                        {
                            <img class="pokerCard @(Model.Host.Opponents[3].Folded ? "folded" : "")  @(Model.Host.Opponents[3].Winner ? "winner" : "")" src="~/Content/Cards/@(((((int) card.Suit - 1)*13) + (int) card.FaceValue)).png" alt="Pokercard" />
                        }
                        <p class="nameTag @(Model.Host.Opponents[3].Folded ? "folded" : "")">@String.Format("{0:C}", @Model.Host.Opponents[3].Money)</p>
                        <p class="nameTag @(Model.Host.Opponents[3].Folded ? "folded" : "prizeMoney")">@String.Format("+{0:C}", @Model.Host.Opponents[3].PrizeMoney)</p>
                    }
                    else
                    {
                        <img class="chair" src="~/Content/Images/chairR.gif" alt="sofa" />
                    }

                </div>
            </div>
            <div class="row" id="underRow">
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                <div class="col-md-2 col-sm-2 col-xs-2">

                    @if (@Model.Host.Opponents.Count > 5)
                    {
                        foreach (var card in Model.Host.Opponents[5].PokerCards)
                        {
                            <img class="pokerCard @(Model.Host.Opponents[5].Folded ? "folded" : "")  @(Model.Host.Opponents[5].Winner ? "winner" : "")" src="~/Content/Cards/@(((((int) card.Suit - 1)*13) + (int) card.FaceValue)).png" alt="Pokercard" />
                        }
                        <p class="nameTag @(Model.Host.Opponents[5].Folded ? "folded" : "") @(Model.Host.Opponents[5].Winner ? "winner" : "")">@Model.Host.Opponents[5].Name</p>
                        <p class="nameTag @(Model.Host.Opponents[5].Folded ? "folded" : "")">@String.Format("{0:C}", @Model.Host.Opponents[5].Money)</p>
                        <p class="nameTag @(Model.Host.Opponents[5].Folded ? "folded" : "prizeMoney")">@String.Format("+{0:C}", @Model.Host.Opponents[5].PrizeMoney)</p>
                    }
                    else
                    {
                        <img class="chair" src="~/Content/Images/chairB.gif" alt="sofa" />
                    }

                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <p class="nameTag @(Model.Host.Winner ? "winner" : "")">@Model.Host.Name</p>
                    <div class="hand">
                        @foreach (var card in Model.Host.PokerCards)
                        {
                            <img class="pokerCard @(Model.Host.Folded ? "folded" : "")  @(Model.Host.Winner ? "winner" : "")" src="~/Content/Cards/@(((((int) card.Suit - 1)*13) + (int) card.FaceValue)).png" alt="Pokercard" />
                        }
                        <p class="nameTag @(Model.Host.Folded ? "folded" : "")">@String.Format("{0:C}", @Model.Host.Money)</p>
                        <p class="nameTag @(Model.Host.Folded ? "folded" : "prizeMoney")">@String.Format("+{0:C}", @Model.Host.PrizeMoney)</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">

                    @if (@Model.Host.Opponents.Count > 4)
                    {
                        foreach (var card in Model.Host.Opponents[4].PokerCards)
                        {
                            <img class="pokerCard @(Model.Host.Opponents[4].Folded ? "folded" : "")  @(Model.Host.Opponents[4].Winner ? "winner" : "")" src="~/Content/Cards/@(((((int) card.Suit - 1)*13) + (int) card.FaceValue)).png" alt="Pokercard" />
                        }
                        <p class="nameTag @(Model.Host.Opponents[4].Folded ? "folded" : "") @(Model.Host.Opponents[4].Winner ? "winner" : "")">@Model.Host.Opponents[4].Name</p>
                        <p class="nameTag @(Model.Host.Opponents[4].Folded ? "folded" : "")">@String.Format("{0:C}", @Model.Host.Opponents[4].Money)</p>
                        <p class="nameTag @(Model.Host.Opponents[4].Folded ? "folded" : "prizeMoney")">@String.Format("+{0:C}", @Model.Host.Opponents[4].PrizeMoney)</p>
                    }
                    else
                    {
                        <img class="chair" src="~/Content/Images/chairB.gif" alt="sofa" />
                    }

                </div>
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
            </div>
        </div>
    </section>
    <section id="playControls">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="btn btn-default" id="nextRoundButton">Play next round</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
@section scripts
    {
    <script src="~/Scripts/PokerScripts/pokerScriptMultiplayer.js"></script>
}


